# Entornos virtuales
venv/
env/
*/venv/
*/env/

# Librerías descargadas
*.so
*.dll
*.bin
*.pt
*.onnx
*.h5

# Modelos de spaCy
es_core_news_lg/
*/es_core_news_lg/*

# Archivos grandes de IA
backend/venv_ai/
backend/venv_ai/*

# Cachés
__pycache__/
*.pyc
*.pyo

# Node modules
node_modules/
logs/ai/django.log
logs/ai/gunicorn_access.log
logs/ai/gunicorn_error.log
